<h2>Sign Up Form</h2>
<form action="/users/create" method="post">
    Email : <input type="email" name="email" placeholder="Enter email address"><br>
    Name : <input type="text" name="name" placeholder="Enter your name"><br>
    Password: <input type="password" name="password" placeholder="Enter Password"><br>
    Confirm password : <input type="password" name="cpassword" placeholder="Confirm password"><br>
    <input type="submit" value="submit">
</form>